{% extends theme_layout_html %}

{% block content %}

<div class="alert-message warning fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>Holy guacamole!</strong> Best check yo self, you’re not looking too good.</p>
</div>

{% endblock %}