{% extends theme_layout_html %}

{% block content%}
{% include theme_flashes_html %}    


<h1>Avisos en {{ entity.title }}</h1>
{% if entities is empty%}
<h3>Publica aquí ahora !</h3>
<div class="alert-message block-message warning" data-alert="alert">
    <p><strong>Actualmente no hay avisos por aquí!</strong> Pero puede agregar uno si lo desea, haga click en el siguiente botón, es fácil y rápido!</p>
    <div class="alert-actions">
        <a class="btn small success" href="{{ path('aviso_new', {'category': entity.slug}) }}">CREAR UN AVISO</a>
    </div>
</div>
{% else %}
<table class="prettyprint linenums zebra-striped">
    <tbody>
        {% for classifield in entities %}
        {% include 'smpclClassifieldBundle:Classifield:table_classified_partial.html.twig' %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}