{% if entity is defined and from_category_list is defined and from_category_list == true %}
    {% set current_path = path('aviso_new', {'category': entity.slug})%}
{% else %}
    {% set current_path = path('aviso_new') %}
{% endif %}

{% if entities %}

<div class="well listingAvisosTopActions">
    <a href="{{ current_path }}" class="btn success ">Crear nuevo Aviso </a>
</div>
{% endif %}